html {
  scroll-behavior: smooth;
}

.welcome {
  background-image: url("../img/atulya-mahajan-WX27nEjwqX4-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#welcome {
  transition: background-image 2s;
}
